apiVersion: apps/v1
kind: Deployment
metadata:
  name: ep-app
  labels:
    app: ep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ep
  template:
    metadata:
      labels:
        app: ep
    spec:
      containers:
        - name: ep
          # Replace with your Docker registry image path
          image: dpsauatdk01.intra.hkma.gov.hk:8443/dockerhub-proxy/pyburn/ep:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
              name: http
              protocol: TCP
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: ep-service
  labels:
    app: ep
spec:
  type: NodePort
  selector:
    app: ep
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 3000
